<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guiavalledupar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Municipios_Sitios"></activity>
        <activity android:name=".Emergencia" />
        <activity
            android:name=".List_Evento"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Evento"
            android:parentActivityName=".List_Evento">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".List_Evento" />
        </activity>
        <activity
            android:name=".Detalle_plato"
            android:parentActivityName=".Plato_Tipico">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Plato_Tipico" />
        </activity>
        <activity
            android:name=".detalleSitios"
            android:parentActivityName=".Sitios">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sitios" />
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Plato_Tipico"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Sitios"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>